# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
system-commandline-sentinel-files
dotnet-suggest-registration-git-credential-manager-core*
node_modules
dist
dist-ssr
*.local
system-commandline-sentinel-files
system-commandline-sentinel-files/*
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
#other
*-lock.*

helper.json